html, body {
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
}
#head {
	background-color: #fff;
	display: flex;
}
#head #spacer {
	background-color: #fff;
    border-right: 1px solid #ddd;
    width: 199px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    font-weight: 800;
    font-size: 22px;
}
#head #index_choice {
	margin: 20px;
}
#content {
	display: flex;
	min-height: calc(100vh - 62px);
}
#nav {
	width: 200px;
	background-color: #465C73;
	color: #fff;
	flex-shrink: 0;
	box-sizing: border-box;
	padding: 20px 0px;
}
#nav .item {
	padding: 10px 20px;
	cursor: pointer;
}
#nav .item.active {
	background-color: #58728e;
}
#nav .item:hover {
	background-color: #58728e;
}
#page_content {
	flex: 1;
	padding: 20px;
	overflow: hidden;
}
#page_content #selection, #page_content #resultion,#page_content #parameters {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
div#selection button {
    background-color: #31b677;
    color: #fff;
    border: navajowhite;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
div#selection button.grey {
	background-color: #999;
}
#page_content #resultion #result {
	display: none;
}
#page_content #resultion #resultTable {
	overflow: auto;
	max-height: 500px;
	display: none;
}
#page_content #resultion #resultTable.show, #page_content #resultion #result.show {
	display: block;
}
#page_content #resultion #resultTable table {
	border-collapse: collapse;
}
#page_content #resultion #resultTable tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #31B677;
    color: white;
}
#page_content #resultion #resultTable th, #page_content #resultion #resultTable td {
	padding: 5px;
	text-align: left;
	border: 1px solid #ddd;
}
#page_content #resultion #resultTable tr:nth-child(even){
	background-color: #f2f2f2;
}
#page_content #resultion #resultTable td div {
	white-space: nowrap;
	overflow-y: auto;
	max-width: 200px;
}
#page_content #resultion #result {
	display: none;
}
#resultion_header {
	display: flex;
	justify-content: space-between;
}
input::-webkit-calendar-picker-indicator {
	opacity: 100;
}

#showFields_c {
	display: none;
}
#showFields_c.active {
	display: block;
}
#showFields {
	max-height: 100px;
    overflow-y: auto;
	display: inline-block;
	margin: 0px 0px 20px;
	padding: 10px;
	background-color: #F5F5F5;
	min-width: 100%;
	box-sizing: border-box;
}


#where,#aggs {
	margin: 20px 0px;
    border-left: 2px #888 dashed;
    padding-left: 20px;
}
.row {
    display: flex;
    position: relative;
    margin: 20px 0px;
}
.row:before {
    content: '';
    position: absolute;
    width: 20px;
    border-top: 2px #888 dashed;
    top: 8px;
    left: -20px;
}
.group {
    position: relative;
}
.group:before {
    content: '';
    position: absolute;
    border-left: 2px #888 dashed;
    height: calc(100% - 20px);
    bottom: 0px;
    left: 37px;
    width: 20px;
}
.group .row {
    margin-left: 60px;
}
.group .group_term {
	display: flex;
	align-items: center;
}
.group .group_term label {
	margin: 0px 5px;
} 
.row .addKey {
	padding: 10px;
	border: 2px #ddd dotted;
	border-left: none;
	cursor: pointer;
}
.row .addKey:first-child {
	border-left: 2px #ddd dotted;
}
.dropdown {
	padding: 10px 20px;
	background-color: #ddd;
	cursor: pointer;
	position: relative;
}
.dropdown:hover .item_list {
	display: block;
}
.item_list {
	position: absolute;
	z-index: 99;
    background-color: #fff;
    display: none;
    padding: 10px;
    left: 0px;
    top: 38px;
    border: 1px solid #000;
}
.item_list .item {
	border-bottom: 1px solid #000;
}
.item_list .item:hover {
	background-color: #F5F5F5;
}
select, input {
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    position: relative;
}


#output_options {
	display: flex;
}
#output_options .option {
	padding: 5px 10px;
    background-color: #ddd;
	cursor: pointer;
	color: #999;
}
#output_options .option:first-child {
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#output_options .option:last-child {
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#output_options .option.active {
	color: #000;
}
button.remove {
    background-color: unset !important;
    color: #999 !important;
    cursor: pointer;
    font-size: 20px !important;
	padding: 0px 10px !important;
	height: 31px;
}
button.remove:hover {
	color: red !important;
}
#showFieldWrapper {
	display: inline-block;
	min-width: 350px;
}
#showFieldsSearch {
	display: block;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 10px;
    font-size: 14px;
    padding: 5px;
}
.single4 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 6px solid #F5F5F5;
	border-top-color: #BFBFBF;
	border-bottom-color: #BFBFBF;
	-webkit-animation: single4 2.5s infinite ease-in-out;
	animation: single4 2.5s infinite ease-in-out;
 }

 @-webkit-keyframes single4 {
	0% {
	   -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	}
	100% {
	   -webkit-transform: rotate(540deg);
	   transform: rotate(540deg);
	}
 }

 @keyframes single4 {
	0% {
	   -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	}
	100% {
	   -webkit-transform: rotate(540deg);
	   transform: rotate(540deg);
	}
 }


 div#selection.fieldsEdit {
    display: flex;
    padding: 10px 20px !important;
    align-items: center;
    margin-bottom: 2px !important;
    justify-content: space-around;
}
div#selection.fieldsEdit .pflege_row {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}
div#selection.fieldsEdit .pflege_row:nth-of-type(3) {
    flex: 0;
    white-space: nowrap;
}
div#selection.fieldsEdit .pflege_row input {
    flex: 1;
}
div#selection.fieldsEdit .pflege_row:nth-of-type(2) label,
div#selection.fieldsEdit .pflege_row:nth-of-type(4) label {
    margin-right: 2px;
}